<mat-card>
  <mat-card-content>
    <form (ngSubmit)="changePassword()" [formGroup]="changeForm">
      <div>
        <h1>
          Wprowadź nowe hasło
        </h1>
      </div>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Nowe hasło" formControlName="newPassword" type="password" required>
        <mat-error *ngIf="changeForm.hasError('required', 'newPassword')">
          Nowe hasło jest <strong>wymagane</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput placeholder="Potwierdź hasło" formControlName="confirmationPassword" type="password" [errorStateMatcher]="matcher">
        <mat-error *ngIf="changeForm.hasError('notSame')">
          Hasła nie pasują do siebie
        </mat-error>
      </mat-form-field>
      <button [disabled]="changeForm.invalid" mat-raised-button color="primary">Wyślij</button>
    </form>
  </mat-card-content>
</mat-card>

