<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="resetPassword()">
        <h2>Wpisz adres email</h2>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error>
            Proszę podać prawidłowy adres e-mail
          </mat-error>
        </mat-form-field>
        <button  class="reminder-button" mat-raised-button color="primary" [disabled]="formGroup.invalid">Zresetuj hasło</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

