<mat-card>
  <mat-card-content>
    <form (ngSubmit)="resetPassword()" [formGroup]="resetGroup">
      <div>
        <h1>
          Wpisz adres email
        </h1>
      </div>
      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>email</mat-label>
        <input matInput type="text" id="email" class="form-control" name="email" formControlName="email" required>
          <mat-error *ngIf="!resetGroup.get('email').valid && resetGroup.get('email').touched">Numer email jest <strong>wymagany</strong></mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Wyślij</button>
    </form>
  </mat-card-content>
</mat-card>

